<header>
    <img 
        src="assets/img/guilherme.png"
        alt="Guilherme - Foto de Perfil"
        width="130px"
        height="130px"
        loading="eager"
    /> 
</header>

<aside>
    <div class="container">
        <p>Full Stack Student | Angular | NextJS | NodeJS</p>
        <p>Recife, Pernambuco, Brasil</p>
        <p>Entering the software development field. Improving my skills in Angular to work as a Junior Analyst at Avanade, the leading Microsoft specialist in the world.</p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv-guilherme.pdf" target="_blank" class="btn btn-primary">
                    Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/guilherme-siqueira-421345150/" target="_blank" class="btn btn-secondary">
                    LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg"
                    alt="Ícone do Whatsapp"
                    width="22px"
                    height="22px" />

                    <figcaption>
                        <a href="https://api.whatsapp.com/send?phone=5581981926476&text=Ol%C3A1%20Guilherme,%20preciso%20de%20uma%20ajuda!"
                        target="_blank">
                        <strong>
                            Send a message to:
                        </strong>
                        <p>Whatsapp: (81) 98192-6476</p>
                    </a>
                    </figcaption>
            </figure>

            <figure>
                <img 
                    src="assets/icons/mail.svg"
                    alt="Ícone do E-Mail"
                    width="22px"
                    height="22px" />

                    <figcaption>
                        <a href="mailto:meme.cmsiqueira@hotmail.com"
                        target="_blank">
                        <strong>
                            Send a e-mail to:
                        </strong>
                        <p>meme.cmsiqueira&#64;hotmail,com</p>
                    </a>
                    </figcaption>
            </figure>
        </section>

    </div>
</aside>